<header class="smaller">
  <div class="content">
    <div class="sub_media">

      <ul class="small right">
        <li>
          <a href="/apps">Apps</a>
        </li>
        <li>
          <a href="/discuss">Fóruns</a>
        </li>
        <li>
          <a href="/leaderboard">Placar de colaboradores</a>
        </li>
        <li>
          <a href="/contribute">Contribua</a>
        </li>
        <li>
          <a href="/documentation/api">API</a>
        </li>
        <li>
          <a href="/talk">Suporte</a>
        </li>

      </ul>


      <div class="left">
        <ul class="primary">

          <li class="logo">
            <a href="/">
              <img src="../../assets/images/dbmovielogo.svg" width="91" height="81">
            </a>
          </li>
          <li>
            <a href="/discover">Explorar</a>
            <ul class="sub_menu discover hide">
              <li>
                <a href="/discover/movie">Filmes</a>
              </li>
              <li>
                <a href="/discover/tv">Séries</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/movie">Filmes</a>
            <ul class="sub_menu movie hide">
              <li>
                <a href="/movie">Populares</a>
              </li>
              <li>
                <a href="/movie/top-rated">Mais bem avaliados</a>
              </li>
              <li>
                <a href="/movie/upcoming">Próximas estreias</a>
              </li>
              <li>
                <a href="/movie/now-playing">Em cartaz</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/tv">Séries</a>
            <ul class="sub_menu tv hide">
              <li>
                <a href="/tv">Populares</a>
              </li>
              <li>
                <a href="/tv/top-rated">Mais bem avaliadas</a>
              </li>
              <li>
                <a href="/tv/on-the-air">Na TV</a>
              </li>
              <li>
                <a href="/tv/airing-today">Em exibição hoje</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/person">Pessoas</a>
            <ul class="sub_menu person hide">
              <li>
                <a href="/person">Pessoas Populares</a>
              </li>
            </ul>
          </li>

        </ul>
      </div>


      <div class="right">
        <ul class="primary">
          <li>
            <div class="glyph_wrapper">
              <a class="glyph new_icon no_click" href="#">Entrar
                <div class="rollover">
                  <p>Não encontrou o filme ou série que procurava? Entre com uma conta e adicione ao nosso banco de dados.</p>
                </div>
              </a>
            </div>
          </li>
          <li>
            <a href="/account/signup">Registrar</a>
          </li>

        </ul>
      </div>

    </div>
  </div>
  <div class="search_bar">
    <section class="search">
      <div class="sub_media">
        <form id="search_form" action="/search" method="get" accept-charset="utf-8">

          <span tabindex="-1" role="presentation" class="k-widget k-autocomplete k-header k-autocomplete-clearable k-state-default"
            style="">
            <input dir="auto" id="search_v4" name="query" type="text" tabindex="2" autocorrect="off" autofill="off" autocomplete="off"
              spellcheck="false" placeholder="Buscar por um Filme, Série ou Pessoa" value="" data-role="autocomplete" class="k-input"
              role="textbox" aria-haspopup="true" aria-disabled="false" aria-readonly="false" aria-owns="search_v4_listbox"
              aria-autocomplete="list" style="width: 100%;">
            <span unselectable="on" class="k-icon k-clear-value k-i-close k-hidden" title="clear" role="button" tabindex="-1"></span>
            <span class="k-icon k-i-loading" style="display:none"></span>
          </span>
          <input type="submit">
        </form>
      </div>
    </section>
  </div>
  <div class="k-list-container k-popup k-group k-reset" id="search_v4-list" data-role="popup" aria-hidden="true" style="display: none; position: absolute;">
    <div class="k-group-header" style="display:none"></div>
    <div class="k-list-scroller" unselectable="on">
      <ul unselectable="on" class="k-list k-reset" tabindex="-1" aria-hidden="true" id="search_v4_listbox" aria-live="polite"
        data-role="staticlist" role="listbox"></ul>
    </div>
    <div class="k-nodata" style="display:none">
      <div></div>
    </div>
  </div>
</header>