
<!-- <div class="alert alert-success">
  <strong>Success!</strong> Indicates a successful or positive action.
</div> -->

<footer class="single_column discover lazyloaded row">
  <nav class="row nav-footer">
    <div class="join">
      <img class="img-fluid" src="https://www.themoviedb.org//static_cache/v4/logos/primary-green-d70eebe18a5eb5b166d5c1ef0796715b8d1a2cbc698f96d311d62f894ae87085.svg" width="130" height="116">
        <a class="rounded" href="/account/signup">Junte-se a Comunidade</a>
    </div>

    <div class="col">
      <h3>O básico</h3>
      <ul class="list-group">
        <li><a href="/about">Sobre o TMDb</a></li>
        <li><a href="/about/staying-in-touch">Contate-nos</a></li>
        <li><a href="/talk">Suporte</a></li>
        <li><a href="/documentation/api">API</a></li>
        <li><a href="https://blog.themoviedb.org/" target="_blank" rel="noopener">Blog</a></li>
      </ul>
    </div>
    <div class="col">
      <h3>Envolva-se</h3>
      <ul class="list-group">
        <li><a href="/bible"><span class="glyphicons glyphicons-asterisk"></span> Bíblia do Colaborador</a></li>
        <li><a href="/apps">Aplicativos de terceiros</a></li>
        <li><a href="/movie/new">Adicionar um novo filme</a></li>
        <li><a href="/tv/new">Adicionar uma nova série</a></li>
      </ul>
    </div>
    <div class="col">
      <h3>Comunidade</h3>
      <ul class="list-group">
        <li><a href="/documentation/community/guidelines">Diretrizes</a></li>
        <li><a href="/leaderboard">Placar de colaboradores</a></li>
        <li><a href="/discuss">Fóruns</a></li>
        <li><a href="https://twitter.com/themoviedb" target="_blank" rel="noopener">Twitter</a></li>
        <li><a href="https://www.facebook.com/themoviedb" target="_blank" rel="noopener">Facebook</a></li>
      </ul>
    </div>
    <div class="col">
      <h3>Legalidade</h3>
      <ul class="list-group">
        <li><a href="/documentation/website/terms-of-use">Termos de uso</a></li>
        <li><a href="/privacy-policy">Política de privacidade</a></li>
      </ul>
    </div>
  </nav>
</footer>