<div class="overlay h-100 w-100">
</div>
<div class="row custom-background h-100 w-100" [ngStyle]="{'background-image':'url(https://image.tmdb.org/t/p/w1400_and_h450_face' + movieDetail.backdropPath + ')'}">
</div>
<div class="row justify-content-center sinopysis-content">
  <div class="pt-5 pb-5">
    <section class="container">
      <div class="row bg-overlay">
        <div class="col-xs-12 col-md-4">

          <div class="">
            <img class="img-fluid" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{movieDetail.posterPath}}" srcset="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{movieDetail.posterPath}} 1x, https://image.tmdb.org/t/p/w300_and_h450_bestv2{{movieDetail.posterPath}} 2x">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <section>

            <div style="width: 100%; margin-bottom: 30px;">

              <span>
                <a href="/movie/245891-john-wick">
                  <h2 class="sinopsys-title">{{movieDetail.title}}</h2>
                </a>
                <span class="release_date">{{movieDetail.releaseYear}}</span>
              </span>

            </div>
           

            <div class="header_info">
              <h3 dir="auto">Sinopse</h3>
              <div class="overview" dir="auto">
                <p>{{movieDetail.overview}}</p>
              </div>

              <h3 class="featured" dir="auto">Equipe técnica principal</h3>
              <ol class="people no_image">

                <!-- suscetivel a erro -->
                <li *ngFor="let profile of movieDetail.crew.slice(0, 3)" class="profile">
                  <p>
                    <a href="/person/{{profile.id}}" style="color:white;">{{profile.name}}</a>
                  </p>
                  <p class="character">{{profile.job}}</p>
                </li>
                <li class="profile"></li>
                <li class="profile"></li>
                <li class="profile"></li>
              </ol>
            </div>
          </section>
        </div>
      </div>
    </section>

  </div>
</div>