<!-- <div class="item poster card col-xs-6 mt-4">
  <div class="row">
  <div class="image_content">
    <a id="movie_{{movie.id}}" class="result" [routerLink]="['movies', movie.id]" title="{{movie.title}}">
      <img class="poster fade lazyautosizes lazyloaded" data-sizes="auto" data-src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{movie.backdropPath}}"
        data-srcset="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{movie.backdropPath}} 1x, https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie.backdropPath}} 2x"
        sizes="185px" srcset="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{movie.backdropPath}} 1x, https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie.backdropPath}} 2x"
        src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{movie.backdropPath}}">

      <div class="meta" data-role="tooltip">
        <span id="popularity_51edf8cf19c295756a1149ed_value" class="hide popularity_rank_value">
          <div class="tooltip_popup popularity">
            <h3>Placar de popularidade</h3>
            <p>Hoje: 18</p>
            <p>Última semana: 25</p>
          </div>
        </span>
        <span class="right">

        </span>
      </div>
    </a>
  </div>
  <div class="info">
    <p class="flex">
      <a id="movie_{{movie.id}}" class="title result" [routerLink]="['movies', movie.id]" title="{{movie.title}}">{{movie.title}}</a>
      <span class="vote_average">{{movie.voteAverage}}
      </span>
    </p>
    <p class="meta flex">
      <span class="release_date">
        {{movie.releaseYear}}</span>
      <span class="genres">Ação, Aventura, Fantasia</span>
    </p>
    <p class="overview">{{movie.overview | slice:0:250}}...</p>
    <p class="view_more">
      <a id="movie_{{movie.id}}" class="result" [routerLink]="['movies', movie.id]" title="{{movie.title}}">Mais informações</a>
    </p>
  </div>
</div>
</div> -->


        <div class="card mt-4">
          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <div class="card-img-bottom pointer"
              [ngStyle]="{'background': 'url(https://image.tmdb.org/t/p/w185_and_h278_bestv2' + movie.backdropPath + ')'}" 
              [routerLink]="['movies', movie.id]" title="{{movie.title}}">
              </div>
            </div>

            <div class="col-xs-12 col-sm-7">
              <div class="card-block pl-2 pr-2" [routerLink]="['movies', movie.id]">
                <h4 class="card-title result">{{movie.title}}
                    <span class="vote_average pull-right">{{movie.voteAverage}}
                      </span>
                </h4>
                <h6 class="card-subtitle mb-2 text-muted d-inline-block">{{movie.releaseYear}}</h6>
                <span class="genres pull-right">Ação, Aventura, Fantasia</span>
                <p class="card-text">{{movie.overview | slice:0:250}}...</p>
                <p class="view_more"><a id="movie_346364" class="result" [routerLink]="['movies', movie.id]" title="{{movie.title}}">Mais informações</a></p>
              </div>
            </div>
          </div>
        </div>