<div class="media container-fluid">
  <section class="main_content row">

    <h2>Descobrir Novos Filmes e Séries
    </h2>

    <div class="container-fluid">
      <div class="row">
        <span class="search_element full">
          <label for="with_genres" id="with_genres_label">Gêneros</label>
          <select style="width: 260px;" [(ngModel)]="genreId" (change)="getMovies({})">
            <option value="0">Todos</option>
            <option *ngFor="let genre of genres" value="{{genre.id}}">{{genre.name}}</option>
          </select>
        </span>
      </div>

      <div class="card-deck row">
        <app-movie-card *ngFor="let movie of movies" [movie]="movie"></app-movie-card>
      </div>

      <div class="row mt-5">
        <p class="col left">Atualmente na página: {{currentPage}} de {{totalPages | number}}
          <span class="total_results grey">({{totalResults | number}} resultados)</span>
        </p>

        <div class="col right">
            <a class="right" (click)="onChangePage( currentPage + 1 )">
                <button type="button" class="btn btn-secondary">Próxima</button>
              </a>
            <a *ngIf="currentPage > 1" class="right" (click)="onChangePage( currentPage - 1 )">
                <button type="button" class="btn btn-secondary">Anterior</button>
            </a>
        </div>
      </div>

    </div>
  </section>
</div>